<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Empresas</title>
 <!-- loader-->
 <link href="{{ url_for('static', filename='assets/css/pace.min.css') }}" rel="stylesheet"/>
 <script src="{{ url_for('static', filename='assets/js/pace.min.js') }}"></script>
 <!-- favicon-->
 <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
 <!-- Vector CSS -->
 <link href="{{ url_for('static', filename='assets/plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet"/>
 <!-- simplebar CSS-->
 <link href="{{ url_for('static', filename='assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet"/>
 <!-- Bootstrap core CSS-->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 <!-- animate CSS-->
 <link href="{{ url_for('static', filename='assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
 <!-- Icons CSS-->
 <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
 <!-- Sidebar CSS-->
 <link href="{{ url_for('static', filename='assets/css/sidebar-menu.css') }}" rel="stylesheet"/>
 <!-- Custom Style-->
 <link href="{{ url_for('static', filename='assets/css/app-style.css') }}" rel="stylesheet"/>

 <style>
.table, .table th, .table td, .card-header, .card {
    background-color: rgba(0, 0, 0, 0.15);
    border: none !important;
}
.text-input-black {
        color: black !important;  /* Forzar que el texto sea negro */
        background-color: white !important; /* Asegurar que el fondo sea blanco */
    }

    .text-input-black::placeholder {
        color: gray !important;  /* Placeholder en gris */
    }

    .text-input-black:focus {
        color: black !important; /* Mantener texto en negro al hacer foco */
        background-color: white !important; /* Mantener fondo blanco al hacer foco */
    }

    .text-input-black:active, 
    .text-input-black:visited {
        color: black !important; /* Forzar negro en cualquier estado */
    }
</style>
</head>

<body class="bg-theme bg-theme1 col-12">
 
<!-- Start wrapper-->
 <div id="wrapper">

<div class="clearfix"></div>
	
	<div class="row mt-3 p-5">
	<div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header" style="background-color: rgba(0, 0, 0, 0.30);">Seleccionar Empresa
		 </div>
	       <div class="table-responsive" style="background-color: transparent;">
                 <table class="table align-items-center table-borderless table-flush" style="background-color: transparent; width: 100%; border-collapse: collapse;">
                  <thead style="background-color: transparent;">
                   <tr>
                     <th class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.23);">Empresa</th>
                     <th class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.20);">Logo</th>
                     <th class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.23);">Cargo</th>
                     <th class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.20);">Fecha de Ingreso</th>
                     <th class="text-center" colspan="2" style="color: white; background-color: rgba(0, 0, 0, 0.23);">Acciones</th>
                   </tr>
                   </thead>
                   <tbody>
                    {% for empresa in empresas %}
                    <tr>
                        <td class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.23);">{{ empresa.nombre }}</td>
                        <td class="text-center" style="background-color: rgba(0, 0, 0, 0.20);"><img src="{{ empresa.logo }}" class="product-img" alt="Logo de empresa"></td>
                        <td class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.23);">{{ empresa.cargo }}</td>
                        <td class="text-center" style="color: white; background-color: rgba(0, 0, 0, 0.20);">{{ empresa.fecha_ingreso }}</td>
                        <td class="text-center" style="background-color: rgba(0, 0, 0, 0.23);">
                            <!-- Verificar si el codigo_empresa está llegando -->
                            <!-- <p style="color: red;">Codigo de empresa: {{ empresa.codigo_empresa }}</p> --> <!-- Línea para depuración -->
                
                            <!-- Botón para ingresar -->
                            <a class="btn bsb-btn-xl btn-success" href="{{ url_for('vista_propiedad', codigo_empresa=empresa.codigo_empresa) }}">
                                Ingresar
                            </a>
                        </td>
                        <td class="text-center" style="background-color: rgba(0, 0, 0, 0.23);">
                            <a class="btn bsb-btn-xl btn-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
              </table>
            </div>
	   </div>
    </div>
    <div class="row col-4 mx-auto">
      {% if current_user.is_admin %}
        <!-- Mostrar solo a los administradores -->
        <div class="col-6 p-1">
          <button type="button" class="btn btn-primary shadow-lg border-5" 
          style="width:100%;"
          data-bs-toggle="modal" data-bs-target="#formModal">
              Crear Empresa
          </button>
        </div>
        <div class="col-6 p-1">
          <button type="button" class="btn btn-danger shadow-lg border-5" 
          style="width:100%;"
          data-bs-toggle="modal" data-bs-target="#formModal2">
              Añadir Empresa
          </button>
        </div>
      {% else %}
        <!-- Mostrar solo a los no administradores, ocupando todo el ancho -->
        <div class="col-8 mx-auto p-1">
          <button type="button" class="btn btn-danger shadow-lg border-5" 
          style="width:100%;"
          data-bs-toggle="modal" data-bs-target="#formModal2">
              Añadir Empresa
          </button>
        </div>
      {% endif %}
    </div>    

	</div><!--End Row-->

    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel" style="color: rgb(0, 0, 0);">Crear Empresa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form action="{{ url_for('crear_empresa') }}" method="post">
                      <div class="mb-3">
                          <label for="nombre" class="form-label" style="color: rgb(0, 0, 0);">Nombre Empresa</label>
                          <input type="text" class="form-control border border-3 text-input-black" id="nombre" name="nombre_empresa" placeholder="Ingresa el nombre de la empresa" style="color: rgb(0, 0, 0);" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Crear</button>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel" style="color: rgb(0, 0, 0);">Agregar Empresa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form action="{{ url_for('anadir_empresa') }}" method="post">
                      <div class="mb-3">
                          <label for="codigo" class="form-label" style="color: rgb(0, 0, 0);">Código Empresa</label>
                          <input type="text" class="form-control border border-3 text-input-black" id="codigo" name="codigo_empresa" placeholder="Ingresa el código" style="color: rgb(0, 0, 0);" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

      <!--End Dashboard Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

	
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- simplebar js -->
<script src="{{ url_for('static', filename='assets/plugins/simplebar/js/simplebar.js') }}"></script>
<!-- sidebar-menu js -->
<script src="{{ url_for('static', filename='assets/js/sidebar-menu.js') }}"></script>
<!-- loader scripts -->
<script src="{{ url_for('static', filename='assets/js/jquery.loading-indicator.js') }}"></script>
<!-- Custom scripts -->
<script src="{{ url_for('static', filename='assets/js/app-script.js') }}"></script>
<!-- Chart js -->
<script src="{{ url_for('static', filename='assets/plugins/Chart.js/Chart.min.js') }}"></script>
<!-- Index js -->
<script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>

  
</body>
</html>

