<div class="container mt-5">
    <h3 class="text-white">Gestión de Usuarios - Historial de Acciones</h3>
    
    {% if actividades %}
    <table class="table table-bordered mt-3 bg-light">
        <thead class="thead">
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Acción</th>
                <th scope="col">Detalle</th>
                <th scope="col">Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.usuario }}</td>
                <td>{{ actividad.accion }}</td>
                <td>{{ actividad.detalle }}</td>
                <td>{{ actividad.fecha_hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-white">No hay actividades registradas en el sistema.</p>
    {% endif %}
</div>
<div class="container mt-5">
  <!-- Tabla de Modificación de Permisos -->
  <h3 class="text-white mt-5">Modificar Permisos de Usuarios</h3>
  <table class="table table-bordered mt-3 bg-light">
    <thead >
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Permisos</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <!-- Checkbox para Acceso al CRM -->
          <form action="{{ url_for('modificar_permiso_crm') }}" method="POST" style="display: inline;">
            <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" 
                    name="acceso_crm" 
                    value="true" 
                    {% if usuario.acceso_crm %}checked{% endif %}
                    onchange="this.form.submit()">
              <label class="form-check-label" for="accesoCRM{{ usuario.id }}">
                Acceso al CRM
              </label>
            </div>
          </form>
          <!-- Checkbox para Editar Propiedades -->
          <form action="{{ url_for('modificar_permiso_editar') }}" method="POST" style="display: inline;">
            <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                       name="editar_propiedades" 
                       value="true" 
                       {% if usuario.editar_propiedades %}checked{% endif %}
                       onchange="this.form.submit()">
                <label class="form-check-label" for="editarPropiedades{{ usuario.id }}">
                    Editar Todas las Propiedades
                </label>
            </div>
        </form>
        <form action="{{ url_for('modificar_permiso_reuniones') }}" method="POST" style="display: inline;">
          <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" 
                     name="crear_reuniones" 
                     value="true" 
                     {% if usuario.crear_reuniones %}checked{% endif %}
                     onchange="this.form.submit()">
              <label class="form-check-label" for="crearReuniones{{ usuario.id }}">
                  Crear Reuniones en las Propiedades
              </label>
          </div>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>